html {
    padding: 0;
    margin: 0;
}
body {
    background: #113;
    padding: 0;
    margin: 0;
}

header {
    text-align: center;
    color: rgba(255, 255, 255, 0.6);
    margin-bottom: 1.5em;
}

h1 {
    margin-bottom: .1em;
}

.certificate {
    width: 760px;
    height: 575px;
    margin: 0 auto;
    border: 1px solid transparent; /* this fixes extra page when printing */
    position: relative;
}

.certificate img {
    position: absolute;
    top: 0;
    left: center;
    z-index: -1;
}

.certTitle, .certName, .certStatement, .certDescription, .certDateComment {
    width: 590px;
    margin: 0 auto;
    padding: 0;
    font-family: Georgia, "Times New Roman", Times, serif;
    text-align: center;
    font-weight: bold;
}

.certTitle, .certStatement, .certDateComment {
    font-style: italic;
}

.certTitle, .certDateComment {
    font-family: "Times New Roman", Times, serif;
}

.certTitle {
    margin-top: 130px;
    font-size: 310%;
    color: #00427a;
}

.certName {
    color: rgba(0, 0, 0, 0.8);
    font-size: 160%;
    margin-top: 50px;
    text-decoration: underline #00427a dotted;
}

.certStatement {
    margin-top: 20px;
    font-size: 120%;
    font-weight: normal;
}

.certDescription {
    margin-top: 15px;
    font-size: 180%;
}

.certDateComment {
    margin-top: 30px;
}
