
@page {
    size:8.5in 11in landscape;
    margin: .5in 0 0 .5in;
}

body {
    margin: 0;
    padding: 0;
    background: none;
}

div.certificate {
    margin: 0;
}

header {
    display: none;
}

.certName {
    text-decoration: none;
}
